.App {
  text-align: center;
  margin-top: 40px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

.profile-container {
  margin-top: 30px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile-details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.elapsed-time {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  color: #777;
}